@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('@assets/fonts/inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('@assets/fonts/inter/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('@assets/fonts/inter/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('@assets/fonts/inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('@assets/fonts/inter/Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'OpenSans';
    src: url('@assets/fonts/opensans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'OpenSans';
    src: url('@assets/fonts/opensans/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}
.swiper-slide {
  width: fit-content !important;
}

.photo-slide {
  width: 100% !important;
}

.swiper-wrapper {
  margin-bottom: 25px;
}
.swiper-scrollbar {
  width: 330px !important;
  height: 1px !important;
  position: relative !important;
  margin-left: auto;
  margin-right: auto;
}
.swiper-scrollbar-drag {
  height: 3px !important;
  top: -1.2px !important;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .swiper-scrollbar {
    width: 738px !important;
  }
}

@media screen and (min-width: 1178px) {
  .swiper-scrollbar {
    width: 1146px !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Toastify__toast.Toastify__toast--success {
  color: white;
  background-color: rgba(0, 32, 59, 1);
  border-radius: 15px;
}
.min-h-fallback {
  min-height: calc(100vh - 64px);
}

@supports (height: 100svh) {
  .min-h-fallback {
    min-height: calc(100svh - 64px);
  }
}
@media (min-width: 768px) {
  .min-h-fallback {
    min-height: 0;
  }
}

.lightbox-swiper .swiper-slide {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.lightbox-swiper .swiper-wrapper {
  align-items: center;
}

.lightbox-swiper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}
.full-width {
  width: 100%;
}

.dynamic-width {
  width: calc((100% - var(--gap) * var(--item-count)) / var(--item-count));
}
